.colorHbitHover:hover{
	color:#170f3e;
}

.colorHbitHoverFocus:focus{
	border-color:#170f3e;
	box-shadow: 0 0 0 .25rem rgba(9,6,24,.25);
}

.colorHbitBackground{
	background:#170f3e;
}

span.bg-success.colorHbitBackground{
	background:#170f3e !important;
}

.colorHbit{
	color:#170f3e;	
}

svg.colorHbit{
	color:#170f3e !important;
}

.colorHbitHoverBorder.card-product:hover{
	border-color: 1px solid #170f3e;
	border: 1px solid #170f3e;
	box-shadow: 0 5px 12px rgba(9,6,24,.25);
}

.card-product:hover{
	border-color: 1px solid #170f3e;
	border: 1px solid #170f3e;
	box-shadow: 0 5px 12px rgba(9,6,24,.25);
}

.btn-primary.colorHbitHoverBorder{
	border-color: 1px solid #170f3e;
	border: 1px solid #170f3e;
	box-shadow: 0 5px 12px rgba(9,6,24,.25);
}

.hbitSlideTitle{
	color:white;
}

.card-product .btn-action:hover{
	background-color:#170f3e;
}

.btn:hover{
	background: #0e99ff;
}

.slick-slider .slick-prev:hover{
	background-color:#0e99ff;
	background-image: url(../icons/arrow_left.png);
	background-repeat: no-repeat;
	background-position: center
}

.slick-slider .slick-next:hover{
	background-color:#0e99ff;
	background-image: url(../icons/arrow_right.png);
	background-repeat: no-repeat;
	background-position: center
}

.imgPopularProducts{
	max-width: 120px;
	max-height: 120px;
	width: 120px;
	height: 120px;
}

.input-spinner .form-input{
	width: 3rem !important;
}

.footer .nav .nav-item .nav-link:hover{
	color:#170f3e;
}

.navbar .dropdown .dropdown-toggle::after{
	content: none;	
}

.slick-slider .slick-next, .slick-slider .slick-prev {
	font-size: 0px;
}

.icon-chevron-left::before{
	content: "" !important
}

.icon-chevron-right::before {
	content: "" !important
}

.slick-slider .slick-prev{
	background-image: url(../icons/arrow_left.png);
	background-repeat: no-repeat;
	background-position: center;
}

.slick-slider .slick-next {
	background-image: url(../icons/arrow_right.png);
	background-repeat: no-repeat;
	background-position: center;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
	color: #0e99ff;
}

.navbar .navbar-nav .nav-item .nav-link:active{
	color: #0e99ff;
}

.slick-slider img{
	display: inline-block;
}